<button {{#if type}} type={{type}}{{/if}} class={{class}} {{#if onclick}} onclick={{onclick}}{{/if}}>{{label}}</button>

<style>
   button {
        height: 33px;
        border: 1px solid #3D6A95;
        color: white;
        background: #627B9B;
        border-radius: 8px;
        margin-top: 25px;

        padding: 0 10px;
    }
</style>