<div class="user-logo">
    <div class="user-logo__photo">
        <img src="../public/add-user-photo.svg" />
    </div>
    <h1 class="user-logo__display_name">{{login_people.display_name}}</h1>
</div>
