   <div class="user-profile__user-logo">
                <div class="user-logo__photo">
                    <img src="../../ static/add-user-photo.svg" />
                </div>
                <h1 class="user-logo__display_name">{{login_people.display_name}}</h1>
            </div>

            <style>

                    .user-logo__photo {
        width: 150px;
        height: 150px;
        border-radius: 80px;
        background: #EFEFEF;
        justify-content: center;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    .user-logo__photo img {
        height: 70px;
    }

    .user-profile__user-logo {
        text-align: center;
    }
            </style>