@import '../../../style.scss';

input:focus-visible {
    outline: 1px solid $dusty-blue;
  }
 
  input::placeholder {
    color: $dark-text;
  }
 
  .input-block {
    display: flex;
    flex-direction: column;
    margin: 5px;
 
    &__label {
      font-size: 10px;
      color: $grey-text;
      margin: 2px;
      text-align: start;
    }
  }