$main-text: #3c4b5f;
$grey-text: #999;
$dark-text: #143256;
$dusty-blue: #627b9b;
$bright-blue: #3d6a95;
$lite-background: #f8fafb;
$medium-background: #dce5f4;
$dark-bacground: #abbfd3;
$grey-background: #efefef;
$grey-border: #eaeaea;
$red-background: #862a2a;
$red-border: #b00;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: $main-text;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  text-align: center;
  width: 100%;

  // .additional-links {
  //   text-align: left;
  // }
}

.stasrt-page-main {
  margin: calc(50vh - 150px) auto;
  width: 700px;
  height: 300px;
}

.profile-page,
.change-password-page,
.chat-page {
  display: flex;
}

main {
  min-width: 700px;
  width: 100%;
  height: 100vh;
}

header {
  width: calc(100% - 40px);
  margin: 5px 20px;
  height: 70px;
  border-bottom: 1px solid $grey-border;
  box-sizing: border-box;
}


h1,
h2 {
  color: $dark-text;
  margin: 20px auto;
}

.middle-panel {
  width: 340px;
  height: 650px;
  background-color: $lite-background;
  border: 1px solid $dark-bacground;
  border-radius: 12px;
  margin: calc(50vh - 307.5px) calc(50% - 150px);
  display: grid;
  box-sizing: border-box;
  place-items: center center;
  padding: 15px;

  &__linck {
    text-decoration: none;
    font-size: 11px;
    align-self: start;
  }

  &__title {
    font-weight: 500;
  }

  &__button {
    width: calc(100% - 20px);
    margin: 10px;
  }

  &__form {
    width: 100%;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media (width <=400px) {
  .middle-panel {
    width: 95%;
    height: 90vh;
    margin: calc(5vh - 2px) auto;
  }
}



// html, body {
//     scrollbar-color: #458245 #714826; /* «цвет ползунка» «цвет полосы скроллбара» */
//     scrollbar-width: auto | thin | none;  /* толщина */
// }
// scrollbar-color

// scrollbar-width

// auto — толщина скролла по умолчанию;
// thin — более тонкий вариант скролла;
// none — скрыть скролл.
// Firefox



/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 5px; /* ширина для вертикального скролла */
    height: 5px; /* высота для горизонтального скролла */
    background-color: none;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: $dusty-blue;
    border-radius: 5px;
    box-shadow: inset 1px 1px 10px white;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow:none ;
}

/* Стрелки */

::-webkit-scrollbar-button:vertical:start:decrement, 
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:horizontal:end:increment {
    background: none;
}

/* - все ради пустой строки- */

