<main class="error-page">
  <div class="error-message">
    <h1 class="error-message__code">{{code}}</h1>
    <h2 class="error-message__title">{{title}}</h2>
    <h4 class="error-message__description">{{message}}</h4>
  </div>
  <a href="./chat.html">Назад к чатам</a>

  