@import '../../../style';

textarea {
    width: 95%;
    height: 60px;
    background: $grey-background;
    border: none;
    border-radius: 10px;
    resize: none;
    padding: 10px;
}

textarea::placeholder {
    color: $grey-text;
    font-size: 13px;
    font-weight: 500;
}

/* - все ради пустой строки- */

