<div class="middle-panel authorization">
   <h2 class="middle-panel__title">Авторизация</h2>
   <form method="post" class="middle-panel__form" onsubmit="return false" id="authorization_form">
      <div class="middle-panel__form__input-block">
         {{{login_input}}}
         {{{password_input}}}
      </div>
      {{{button}}}
   </form>
   <a href="../register/register.html" class="middle-panel__linck">Нет аккаунта?</a>
</div>

