  <div class="input-block">
    <label class="input-block__label" name={{name}}>{{label}}</label>
    {{>required-input name=name type=type  value=value
    }}
 </div>

<style>
  .input-block {
    display: flex;
    flex-direction: column;
    margin: 5px;
  }

  .input-block__label {
    font-size: 10px;
    color: #999999;
  }
</style>