@import "../../../style";

.change-password {
    width: 60%;
    max-width: 600px;
    margin: calc(50vh - 300px) auto;

    &__save-button {
        margin-left: calc(100% - 105px);
        width: 100px;
    }
}
