
.add_user{
    position: absolute;
    top: 0;
    left: 150px;

    .list-users{
        .serch-user{
            &__display-name{

            }
            &__name{

            }
        }
    }
}