@import '../../../style';

.user-logo {
  text-align: center;

  &__photo {
    width: 150px;
    height: 150px;
    border-radius: 80px;
    background: $grey-background;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0 auto;

    img {
      height: 70px;
    }
  }
}

/* - все ради пустой строки- */

