<div class="user-logo">
    <div class="user-logo__photo">
        {{{avatar_img}}}
        {{!-- <img src="/add-user-photo.svg" alt="Добавте фотографию пользователя" click=""/> --}}
        {{{avatar_input}}}
    </div>
    <h1 class="user-logo__display_name">{{display_name}}</h1>
</div>

