<div class="add-chat-panel">
    <div class="add-chat-panel__title"><label>Создание нового чата</label></div>
    {{{input}}}
    <div class="add-chat-panel__button-block">{{{add_button}}}{{{close_button}}}</div>
</div>

